<!--
    templateType: global_partial
    label: Header
-->

<!-- Header -->
<header id="mainHeader">
    <div class="logo">airbnb</div>
    <div class="search-container">
        <div class="search-bar" id="searchBar">
            <div class="search-item">Anywhere</div>
            <div class="search-item">Any week</div>
            <div class="search-item add-guests">Add guests</div>
            <div class="search-icon">
                <i class="fas fa-search"></i>
            </div>
        </div>
    </div>
    <div class="user-menu">
        <div class="host-link">Become a Host</div>
        <div class="language-selector">
            <i class="fas fa-globe"></i>
        </div>
        <div class="user-actions">
           <div class="menu-icon">
                <i class="fas fa-bars"></i>
                <div class="dropdown-menu" id="dropdownMenu">
                    <a href="#">Help Center</a>
                    <a href="#">Become a host</a>
                    <p class="menu-description">It's easy to start hosting and earn extra income.</p>
                    <a href="#">Refer a Host</a>
                    <a href="#">Find a co-host</a>
                    <a href="#">Log in or sign up</a>
                </div>
            </div>
        </div>
    </div>
</header>