<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home | Airbnb
-->
{% extends "./layouts/base.hubl.html" %}

{% block body %}

    {# Include Banner Partial #}
    {% include './partials/home/banner.hubl.html' %}

    {# Include Map Toggle Partial #}
    {% include './partials/home/maptoggle.hubl.html' %}

    {# Include Home Listings #}
    {% include './partials/home/listings.hubl.html' %}

    {# Include Search Modal #}
    {% include './partials/home/search.hubl.html' %}

{% endblock body %}
